{% extends 'main/own.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'main/styles/index.css' %}">{% endblock %}

{% block title %}Attire{% endblock %}

{% block content %}
  <div class="header">
    <div class="menu">
      <h2><a href="{% url 'home' %}">ATTIRE</a></h2>
      <a href="https://ru.files.me/u/yzjd8g2qpc" id="download" target="_blank"><h3>Приложение</h3></a>
    </div>
    <div class="header_title">
      <h1>Attire<br>A-La-Carte</h1>
      <p>Экономьте на перевозке багажа и сохраняйте природу от топливных выбросов вместе с нами</p>
    </div>
  </div>

  <div class="about">
    <div class="about_me">
      <h1>О ПРОЕКТЕ</h1>
      <p>Мы предоставляем туристам, прибывающим в Россию, уникальную возможность легкости и комфорта в путешествии через инновационную аренду гардероба. Наши клиенты могут наслаждаться своей поездкой, создавая стильный и сезонно подходящий гардероб, точно соответствующий их потребностям. Мы освобождаем их от груза тяжелых чемоданов, упрощаем рутинные процедуры, такие как регистрация и таможенный контроль, и предоставляем удобство за счет доставки одежды прямо в их место проживания</p>
    </div>
    <div class="SecondSection">
      <div class="Line1"></div>
      <img id="img1" src="{% static 'main/assets/-NuA.png' %}" alt="Изображение загружается, пожалуйста, подождите."/>
      <img id="img2" src="{% static 'main/assets/-ymv.png' %}" alt="Изображение загружается, пожалуйста, подождите."/>
    </div>
  </div>

  <div class="bg_image">
    <img src="{% static 'main/assets/artboard-3-100-1.png' %}" alt="Изображение загружается, пожалуйста, подождите.">
  </div>

  <div class="project">
    <h2>Наш проект:</h2>
    <div class="pr">
      <div class="pr-left">
        <img src="{% static 'main/assets/-4Dr.png' %}" alt="Изображение загружается, пожалуйста, подождите."/>
        <p>Сокращает время и упрощает процесс путешествия, освобождая путешественников от необходимости нести тяжелые сумки.</p>
      </div>
      <div class="pr-right">
        <img src="{% static 'main/assets/-xLk.png'%}" alt="Изображение загружается, пожалуйста, подождите."/>
        <p>Предоставляет удобство тем, кто не желает тратить время на стирку и глажку своей одежды во время поездки.</p>
      </div>
      <div class="pr-left">
        <img src="{% static 'main/assets/bg.png'%}" alt="Изображение загружается, пожалуйста, подождите."/>
        <p>Привлекает туристов, которые делают «осознанный выбор», поскольку сокращение веса багажа на 10 кг способствует снижению выбросов углекислого газа во время полета на 7,5 кг, согласно данным авиакомпаний.</p>
      </div>
    </div>

    <div class="offer">
      <h2>Мы предлагаем вам</h2>
      <div class="offer_container">
        <div class="offer_image-container">
          <img src="{%static 'main/assets/-s2L.png'%}" alt="Изображение загружается, пожалуйста, подождите.">
          <p>Экономия времени</p>
        </div>
        <div class="offer_image-container">
          <img src="{%static 'main/assets/-wjJ.png'%}" alt="Изображение загружается, пожалуйста, подождите.">
          <p>Экономия денег</p>
        </div>
        <div class="offer_image-container">
          <img src="{%static 'main/assets/-8ex.png'%}" alt="Изображение загружается, пожалуйста, подождите.">
          <p>Больше времени для отдыха</p>
        </div>
      </div>
  </div>

  <div class="gard">
    <h1>КАПСУЛЬНЫЙ ГАРДЕРОБ</h1>
    <hr>
    <p>В мире моды сегодня все больше говорят о капсульных гардеробах, и не зря! Вот несколько преимуществ, которые делают их настоящим открытием для стильных и практичных личностей.
      <br><br>
      <span>Минимализм с максимальным воздействием:</span><br>
      Капсульный гардероб позволяет вам создать стильные образы из ограниченного количества вещей. Минимизация элементов в гардеробе способствует четкому и эффективному выбору, делая ваш облик более выразительным.
      <br><br>
      <span>Экологичность и ответственность:</span><br>
      Меньше вещей - меньше потребления. Капсульный гардероб поддерживает концепцию устойчивости и ответственного потребительства. Вы вносите свой вклад в сохранение природы, выбирая качественные вещи и отказываясь от быстромодных трендов.
      <br><br>
      <span>Уверенность в каждом образе:</span><br>
      Когда каждый элемент вашего гардероба тщательно отобран и сочетается с другими, вы чувствуете себя уверенно в любой ситуации. Капсульный гардероб обеспечивает гармонию в вашем стиле и уверенность в себе каждый день.</p>
      
    <img src="{%static 'main/assets/-od6.png'%}" alt="Изображение загружается, пожалуйста, подождите.">
      
    <div class="gard_imgs">
      <img src="{%static 'main/assets/-HU8.png'%}" alt="Изображение загружается, пожалуйста, подождите.">
      <img src="{%static 'main/assets/22.png'%}" alt="Изображение загружается, пожалуйста, подождите.">
      <img src="{%static 'main/assets/-vm2.png'%}" alt="Изображение загружается, пожалуйста, подождите.">
    </div>

  </div>
{% endblock %}